

body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* default styles */
.ptext-color{
    color: #FD6E0A;
}

/* btn styles */
.btn-mr{
    margin-left: 30px;
}

.orange-btn{
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    color: #ffff;
    background-color: #FD6E0A;
}

.border-btn{
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    color: #FD6E0A;
    background-color: transparent;
}

/* regular styles */

/* header styles */
.header{
    background: #FFF8F3;
}

/* navigation styles */
nav {
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 60px;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav>ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
/* nav styles end */

/* banner styles */
.banner{
    padding: 0px 50px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.dev-img{
    width: 584px;
    height: 676px;
}
.hero-title{
    color: #474747;
    font-size: 45px;
}
.hero-name{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 20px;
}
.hero-desc{
    color: #757575;
    font-size: 18px;
    width: 500px;
    margin-top: 20px;
}
/* About section styles  */
.main{
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 200px 0px 200px;
    padding: 130px;
    text-align: center;
}
.section-tittle{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-container{
    display: flex;
    justify-content: space-between;
}

.about-tittle{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}
/* What i do styles */
.what-ido{
    margin: 130px 200px 0px 200px;
}
.section-tittle, .section-description{
    padding: 0px 130px 0px 130px;
    text-align: center;
}
.what-ido-container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.what-ido-card{
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Resume styles */
.resume{
    margin: 130px 200px 0px 200px;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-main-tittle{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-content-tittle{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}
.resume-content-sub-tittle{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}
.resume-content-description{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}
hr{
    border: 1px solid #dddddd91;
}
.btn-adjustment{
    text-align: center;
    margin-top: 50px;
}
/* footer styles */
.foot-container{
    display: flex;
    gap: 24px;
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.foot-column{
    width: 50%;
}
.foot-header{
    margin-bottom: 20px;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}
.foot-description{
    margin-bottom: 20px;
}
.social-icons img{
    padding: 15px;
    background-color: #ffbe90c1;
    border-radius: 50%;
    margin-right: 24px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 18px 35px;
    border: none;
}

.contact input[type="text"], .contact input[type="email"], textarea:focus{
    outline: none;
}

.contact textarea{
    resize: none;
}