body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* default styles */
.ptext-color{
    color: #FD6E0A;
}

/* btn styles */
.btn-mr{
    margin-left: 30px;
}

.orange-btn{
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    color: #ffff;
    background-color: #FD6E0A;
}

.border-btn{
    font-size: 20px;
    font-weight: 700;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    width: 200px;
    height: 64px;
    color: #FD6E0A;
    background-color: transparent;
}

/* regular styles */

/* header styles */
.header{
    background: #FFF8F3;
}

/* navigation styles */
nav {
    padding: 0px 200px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 60px;
}

nav>ul{
    display: flex;
    align-items: center;
}

nav>ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    color: #474747;
    font-size: 20px;
    text-decoration: none;
}
/* nav styles end */

/* banner styles */
.banner{
    padding: 0px 50px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.dev-img{
    width: 584px;
    height: 676px;
}
.hero-title{
    color: #474747;
    font-size: 45px;
}
.hero-name{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 20px;
}
.hero-desc{
    color: #757575;
    font-size: 18px;
    width: 500px;
    margin-top: 20px;
}
/* About section styles  */
.main{
    background-color: #FFF8F3;
    margin: 130px;
    padding: 130px;
    text-align: center;
}
.section-tittle{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    font-size: 18px;
}